#hdr{ background-image: url('img/frase.jpg') ; width: 100%;height: 700px;  padding: 0; margin: 0 !important;}
.parallaxx{background: #fff fixed no-repeat 50% 50%;	background-size: cover !important; }